#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;  
    height: 100px;
    background-color:#4D663D;
    color: white;
    text-align: center;
    
  }

  .logoimgnav{
      width: 100px;
  }

  .navbar{
      background-color: #4D663D;
      width: 100%;
      height: 200px;

  }



  
  a{
    color: white;
  }

  .fab{
      color: white;
      font-size: 50px;
  }

  .carouselExampleSlidesOnly{
      width: 100px;
      height: 200px;

  }

  .logobrand{
      width: 100px;
      height: 100px;
  }

  .nikehoodieimg{
      width:100px;
      height:100px;
  }